body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #726e6e;
    font-family: Arial, sans-serif;
}

.calculadora {
    width: 320px;
    padding: 25px;
    border-radius: 25px;

    background: #a3475e;

    border: 1px solid rgb(0, 0, 0);

    box-shadow:
        0 20px 40px rgba(0,0,0,0.6);
}

#pantalla {
    grid-template-columns: repeat(4, 1fr);
    color: rgb(0, 0, 0);
    width: 97%;
    height: 70px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
     background: #dbced2;
     box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
     background:#a3475e;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
}

button {
    width: 95%;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
    margin: 1px;
      background: #a3475e;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.97);
}

button:nth-child(4n) {
    background: #a3475e;
}

button:nth-child(15),
button:nth-child(16) {
  background: #a3475e;
}

.igual {
    grid-column: span 4;
    background: #a3475e;
    color: rgb(0, 0, 0);
    font-weight: bold;
}